<!-- コンテンツ -->
<div class="container my-5">
  <!-- user情報 -->
  <div class="row">
    <div class="col-11 col-lg-4 pb-4 user-img-center zoomIn">
      <%= link_to image_tag(@user.photo_url, class: "img-fluid rounded-circle icon-trim-user-show d-block mx-auto"), user_path(@user) %>
    </div>
    <div class="col-12 col-lg-8 user-text-center">
      <h3 class="mb-1 text-dark">
        <%= @user.name %>
        <% unless @user.age.blank? %>
          (<%= @user.age %>歳)
        <% end %>
      </h3>
      <% unless @user.area.blank? %>
        <h6 class="mb-1 text-dark">地域 : <%= @user.area.prefecture %></h6>
      <% end %>
      <% unless @user.gender.blank? %>
        <%= @user.gender %> / 
      <% end %>
      <% unless @user.height.blank? %>
        <%= @user.height %>cm 
      <% end %>
      <div class="my-3">
        <h1>
          <% unless @user.facebook_url.blank? %>
            <%= link_to @user.facebook_url, class: "mr-5  text-primary" do %><i class="fab fa-facebook-square"></i><% end %>
          <% end %>
          <% unless @user.twitta_url.blank? %>
            <%= link_to @user.twitta_url, class: "mr-5 text-info" do %><i class="fab fa-twitter-square"></i><% end %>
          <% end %>
          <% unless @user.instaguram_url.blank? %>
            <%= link_to @user.instaguram_url, class: "mr-5 text-warning" do %><i class="fab fa-instagram"></i><% end %>
          <% end %>
        </h2>
        <% if user_signed_in? %>
          <% if current_user.id != @user.id %>
            <% if @user.followed_by?(current_user) %>
              <%= link_to user_relationships_path(@user.id), class: "btn btn-success m-1 h-25", method: :delete do %>
                <i class="fas fa-user-tag"></i><h6>FOLLOW中</h6>
              <% end %>
            <% else %>
              <%= link_to user_relationships_path(@user.id), class: "btn btn-outline-success m-1 h-25", method: :post do %>
                <i class="fas fa-user-tag"></i><h6>FOLLOW</h6>
              <% end %>
            <% end %>
          <% end %>
        <% else %>
          <div class="m-1 h-25">
            <a class="btn btn-outline-success aria-expanded" data-toggle="modal" data-target="#menuModal" href="#">
              <i class="fas fa-user-tag"></i><h6>FOLLOW</h6>
            </a>
          </div>
        <% end %>
        <% if user_signed_in? %>
          <% unless current_user.shop.blank? %>
            <% if current_user != @user %>
              <% if @user.staffed_by?(current_user) %>
                <%= link_to user_staffs_path(@user.id), class: "btn btn-success m-1 h-25", method: :delete do %>
                  <i class="fas fa-id-card"></i><h6><%= current_user.name %> スタッフ</h6>
                <% end %>
              <% else %>
                <%= link_to user_staffs_path(@user.id), class: "btn btn-outline-success m-1 h-25", method: :post do %>
                  <i class="fas fa-id-card"></i><h6>スタッフ登録</h6>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- パネル -->
<div class="container-fluid">
  <div class="card show-card-bg mb-4">
    <!-- メニュー -->
    <nav class="posts-nav-bg rounded-top mb-4">
      <div class="nav nav-tabs border-bottom-0" id="tab-menus" role="tablist">
        <a class="nav-item nav-link active mr-2 text-black-50" id="tab-corde" data-toggle="tab" href="#panel-corde" role="tab" aria-controls="panel-corde" aria-selected="true">コーデ</a>
        <a class="nav-item nav-link  text-black-50" id="tab-follow" data-toggle="tab" href="#panel-follow" role="tab" aria-controls="panel-follow" aria-selected="false">FOLLOWER</a>
      </div>
    </nav>
    <!-- パネル中身 -->
    <div class="tab-content" id="panel-menus">
      <!-- コーデ -->
      <div class="tab-pane fade show active" id="panel-corde" role="tabpanel" aria-labelledby="tab-corde">
        <div class="card-body row">
          <% unless @posts.blank? %>
            <!-- カード01 -->
            <% @posts.each do |post| %>
              <div class='col-6 col-sm-4 col-lg-3'>
                <!-- カード01 -->
                <div class='mb-4'>
                  <div class="img-fluid overflow-hidden zoomIn image-trim">
                    <% if post.image_url.present? %>
                      <%= link_to image_tag(post.image_url), post_path(post) %>
                    <% end %>
                  </div>
                  <!-- カードエリアの本文 -->
                  <div class="row pt-2">
                    <div class="col-12 row">
                      <div class="col-5">
                        <%= link_to image_tag(post.user.photo_url, :class => "img-fluid rounded-circle icon-trim"), user_path(post.user_id) %>
                      </div>
                      <div class="col-7 row">
                        <p class="col-12 text-center pt-3 text-dark">
                          <span><%= time_ago_in_words(post.created_at) %>前</span>
                        </p>
                      </div>
                    </div>
                    <h6 class="col-12 pt-2 text-dark text-truncate">
                      <%= post.title %>
                    </h6>
                    <div class="col-12 row text-center pt-2">
                      <p class="col-6 text-dark text-truncate">
                        <span><i class="fas fa-thumbs-up"></i> : <%= post.likes.count %></span> 
                      </p>
                      <p class="col-6 text-dark text-truncate">
                        <span><i class="fas fa-eye"></i> : <%=  post.impressionist_count %></span>
                      </p>
                    </div>  
                  </div>
                </div>
              </div>
            <% end %>
          <% else %>
            <div class="col-12">
              <h3 class="text-center blank-comment-py">投稿がありません。</h3>
            </div>
          <% end %>
        </div>
      </div>
      <!-- フォロー -->
      <div class="tab-pane fade" id="panel-follow" role="tabpanel" aria-labelledby="tab-follow">
        <div class="card-body row">
          <% unless @followers.blank? %>
            <% @followers.each do |user| %>
              <div class="col-12 col-lg-6 mb-1">
                <div class="card">
                  <div class="card-body row">
                    <div class="col-4">
                      <%= link_to image_tag(user.photo_url, class: "mg-fluid rounded-circle icon-trim-show"), user_path(user.id) %>
                    </div>
                    <div class="col-8">
                      <h3 class="mb-1">
                        <%= link_to user.name, user_path(user.id), class: "text-dark" %>
                      </h3>
                      <h6 class="mb-1 text-dark">170cm / Men</h6>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% else %>
            <div class="col-12">
              <h3 class="text-center blank-comment-py">FOLLOWERは未登録です。</h3>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>