<div class="page-list jscroll" >
	<div class="row">
		<% @followings_sort.each do |post| %>
			<div class='col-12'>
				<!-- カード01 -->
				<div class='card row mb-4 bg-light'>
					<div class="col-12 py-1">
						<%= link_to user_path(post.user_id) do %>
							<%= image_tag(post.user.photo_url, :class => "img-fluid rounded-circle icon-trim") %>
							<span><%= post.user.name %></span>
						<% end %>
					</div>
					<div class="img-fluid overflow-hidden image-trim-110">
						<% if post.image_url.present? %>
							<%= link_to image_tag(post.image_url), post_path(post) %>
						<% end %>
					</div>
					<!-- カードエリアの本文 -->
					<div class="col-12 row pt-2">
						<div class="col-12 row">
							<div class="col-12 my-2 row justify-content-end">
								<p class="col-2">
									<% if post.user_id != current_user.id %>
										<% if current_user.already_liked?(post) %>
										  <%= link_to post_like_path(post, post.id),  method: :delete do %>
										  	<h3><i class="fas fa-heart notiine"></i></h3>
								          <% end %>
										<% else %>
											<%= link_to post_likes_path(post), method: :post do %>
									          <h3><i class="far fa-heart iine"></i></h3>
									        <% end %>
										<% end %>
									<% end %>
								</p>
							</div>
							<h6 class="col-12 pt-2 text-truncate">
								<strong><%= post.title %></strong>
							</h6>
							<p class="col-12 pt-2 text-muted text-truncate">
								<%= post.content %>
							</p>
							<p class="col-12 row pt-3">
								<span class="small col-6">
									<%= time_ago_in_words(post.created_at) %>前</span>
								<span class=" col-6 text-right"><i class="fas fa-eye"></i> : <%=  post.impressionist_count %></span>
							</p>
						</div>
					</div>
				</div>
			</div>	
		<% end %>
	</div>
</div>