<%= javascript_include_tag 'img_prev' %>
<div class="container mt-5">
	<%= form_for @post do |f| %>
		<div class="row mb-5">
			<div class="col-12 col-lg-4 mb-3">
				<h5><%= f.label :コーディネート画像 %> <span class='badge badge-danger'>必須</span></h5>
			</div>
			<div class="field image col-12 col-lg-4">
			    <!-- id "file"で、fileとdivを紐付けクリック時に連動 -->
			    <div id="img_field" onClick="$('#imagefile').click()" >
			 
			        <!-- 画像があるときは画像を表示する -->
			        <% if @post.image.to_s.present? %>
			          <%= image_tag(@post.image.to_s) %>
			        <% else %>
			          <i class="fas fa-image text-center"></i><i class="fas fa-file-upload add"></i>
			        <% end %>
			    </div>
			    <!-- id "file"をつけ、「display:none;」で隠す -->
			    <% if request.path_info == new_post_path %>
			 		<%= f.file_field :image, required: true, class: "image mt-2 text-truncate", style: "width:280px;", id: "imagefile"%>
			 	<% elsif request.path_info == edit_post_path %>
			  		<%= f.file_field :image, class: "image", style: "display:none;", id: "imagefile"%>
			  	<% end %>
			</div>
			<div class="col-12 col-lg-3 mt-3">
				<h6>推奨サイズ：</h6>
				<h6>612px 813px <span class="small">(1 : 1.3)</span></h6>
			</div>
		</div>
		<div class="row mb-5">
			<div class="col-12">
				<h5><%= f.label :video,"ショートムービー" %></h5>
			</div>
			<div class="col-12 row m-auto">
				<div class="field image col-12">
				    <!-- id "file"で、fileとdivを紐付けクリック時に連動 -->
				    <div class="row" id="video_field" onClick="$('#videofile').click()" >
				 
				        <!-- 画像があるときは画像を表示する -->
				        <% if @post.video.url.present? %>
				          <%= video_tag(@post.video.url) %>
				        <% else %>
				          <i class="fab fa-youtube col-12 text-center"></i><i class="fas fa-file-video add"></i>
				        <% end %>
				    </div>
				    <!-- id "file"をつけ、「display:none;」で隠す -->
				    <%= f.file_field :video, accept: 'video/*', class: "image", style: "display:none;", id: "videofile" %>
				</div>
			</div>	
			<div class="col-12 mt-3">
				<h6>最大ファイルサイズ：3MB (<span class="small">15秒程度</span>)</h6>
			</div>
		</div>
		<div class="field row mb-5">
			<h5 class="col-12"><%= f.label :title, "コーディネートタイトル" %></h5>
		 	<%= f.text_field :title, class: "col-6 m-auto" %>
		</div>
		<div class="field row mb-5">
			<h5 class="col-12">
				<%= f.label :content,"コーディネート詳細" %>
			</h5>
			<%= f.text_area :content, :size => "60x10", class: "col-10 m-auto" %>
		</div>
		<!-- shopのみ -->
		<% unless current_user.shop.blank? %>
			<div class="field row mb-5">
				<h5 class="col-12">
					<%= f.label :shop_gender,"モデル性別" %>
				</h5>
				<div class="ml-5">	
					<label class="mr-4"><%= f.radio_button :shop_gender, "MEN" %> MEN </label>
		      		<label class="mr-4"><%= f.radio_button :shop_gender, "WOMEN" %> WOMEN</label>
		      		<label><%= f.radio_button :shop_gender, "UNISEX" %> UNISEX</label>
	      		</div>
			</div>
			<div class="field row mb-5">
				<h5 class="col-12">
		      		<%= f.label :shop_height, "モデル身長" %>
		  		</h5>
		      <%= f.number_field :shop_height, autofocus: true, class: "ml-5" %>
		    </div>
		<% end %>

		<div class="row py-5">
			<%= f.submit "次へ", data: { disable_with: "移動中..."}, class: "col-3 m-auto btn btn-success" %>
		</div>
	<% end %>
</div>

