<%= javascript_include_tag 'img_prev' %>
<div class="container mt-5">
	<%= form_for @post do |f| %>
		<div class="row mb-5">
			<div class="col-12 col-lg-4 mb-3">
				<h5><%= f.label :コーディネート画像 %> <span class='badge badge-danger'>必須</span></h5>
			</div>
			<div class="field image col-7 col-lg-4 m-auto">
			    <!-- id "file"で、fileとdivを紐付けクリック時に連動 -->
			    <div id="img_field" onClick="$('#file').click()" >
			 
			        <!-- 画像があるときは画像を表示する -->
			        <% if @post.image.url.present? %>
			          <%= image_tag(@post.image.url) %>
			        <% else %>
			          <i class="fas fa-image text-center"></i><i class="fas fa-file-upload add"></i>
			        <% end %>
			    </div>
			    <!-- id "file"をつけ、「display:none;」で隠す -->
			    <%= f.file_field :image, required: true, class: "image mt-1", id: "file"%>
			</div>
			<div class="col-12 col-lg-3 mt-3">
				<h6>推奨ファイルサイズ：</h6>
			</div>
		</div>
		<div class="field row mb-5">
			<h5 class="col-12"><%= f.label :title, "コーディネートタイトル" %></h5>
		 	<%= f.text_field :title, class: "col-6 m-auto" %>
		</div>
		<div class="field row mb-5">
			<h5 class="col-12">
				<%= f.label :content,"コーディネート詳細" %>
			</h5>
			<%= f.text_area :content, :size => "60x10", class: "col-10 m-auto" %>
		</div>
		<!-- shopのみ -->
		<% unless current_user.shop.blank? %>
			<div class="field row mb-5">
				<h5 class="col-12">
					<%= f.label :shop_gender,"モデル性別" %>
				</h5>
				<div class="ml-5">	
					<label class="mr-4"><%= f.radio_button :shop_gender, "MEN" %> MEN </label>
		      		<label class="mr-4"><%= f.radio_button :shop_gender, "WOMEN" %> WOMEN</label>
		      		<label><%= f.radio_button :shop_gender, "UNISEX" %> UNISEX</label>
	      		</div>
			</div>
			<div class="field row mb-5">
				<h5 class="col-12">
		      		<%= f.label :shop_height, "モデル身長" %>
		  		</h5>
		      <%= f.number_field :shop_height, autofocus: true, class: "ml-5" %>
		    </div>
		<% end %>
		
		<div class="row py-5">
			<% if request.path_info == new_post_path %>
				<%= f.submit "投稿", data: { disable_with: "投稿中..."}, class: "col-3 m-auto btn btn-info" %>
			<% elsif request.path_info == edit_post_path %>
		 		<%= f.submit "更新", data: { disable_with: "更新中..."}, class: "col-3 m-auto btn btn-info" %>
		 	<% end %>
		</div>
	<% end %>
</div>

