
<div>
	<%= link_to("サーチ", search_posts_path) %>
	<%= link_to("新規投稿", new_post_path) %>
</div>
<!-- ナビゲーションバー -->
<nav class="posts-nav-bg boder-bottom-0 pt-1">
	<div class="nav nav-tabs justify-content-center" id="tab-menus" role="tablist">
		<a class="nav-item nav-link active mr-3 text-black-50" id="tab-shop" data-toggle="tab" href="#panel-shop" role="tab" aria-controls="panel-shop" aria-selected="true">SHOP</a>
		<a class="nav-item nav-link mr-3 text-black-50" id="tab-user" data-toggle="tab" href="#panel-user" role="tab" aria-controls="panel-user" aria-selected="false">USER</a>
		<a class="nav-item nav-link mr-3 text-black-50" id="tab-follower" data-toggle="tab" href="#panel-follower" role="tab" aria-controls="panel-follower" aria-selected="false">FOLLOWER</a>
	</div>
</nav>
<!-- container -->
<div class="container-fluid pt-4 posts-bg">
	<div class='row'>
		<div class="tab-content" id="panel-menus">
			<!-- shop -->
			<div class="tab-pane fade show active" id="panel-shop" role="tabpanel" aria-labelledby="tab-shop">
				<%= render "shop.index" %>
			</div>
			<!-- user -->
			<div class="tab-pane fade" id="panel-user" role="tabpanel" aria-labelledby="tab-user">
				<%= render "user.index" %>
			</div>
			<!-- follower -->
			<div class="tab-pane fade" id="panel-follower" role="tabpanel" aria-labelledby="tab-follower">
				<%= render "follower.index" %>
			</div>

		</div>		
	</div>
</div>

