<%= javascript_include_tag 'delighters.min' %>

<!-- ナビゲーションバー -->
<nav class="posts-nav-bg boder-bottom-0">
	<div class="nav nav-tabs justify-content-center" id="tab-menus" role="tablist">
		<a class="nav-item nav-link active mr-3 text-black-50" id="tab-shop" data-toggle="tab" href="#panel-shop" role="tab" aria-controls="panel-shop" aria-selected="true">SHOP</a>
		<a class="nav-item nav-link mr-3 text-black-50" id="tab-user" data-toggle="tab" href="#panel-user" role="tab" aria-controls="panel-user" aria-selected="false">USER</a>
		<a class="nav-item nav-link mr-3 text-black-50" id="tab-follower" data-toggle="tab" href="#panel-follower" role="tab" aria-controls="panel-follower" aria-selected="false">FOLLOWER</a>
	</div>
</nav>
<!-- container -->
<div class="container-fluid pt-4 posts-bg">
	<div class='row'>
		<!-- カテゴリー -->
		<div class="col-md-2 mb-4 d-none d-md-inline">
			<div class="container-flid py-1 posts-category-bg">
		        <div class="row">
		          <div class="col-12">
		            <h5>
		              <%= link_to posts_path, class: "text-dark btn" do %>
		                <i class="fas fa-home"></i>ホーム
		              <% end %>
		            </h5>
		          </div>
		          <div class="col-12">
		              <%= link_to search_posts_path, class: "text-dark btn" do %>
		               <i class="fas fa-search"></i>サーチ
		              <% end %>
		          </div>
		          <div class="col-12">
		            <%if user_signed_in? %>
		              <%= link_to setting_users_path, class: "text-dark btn" do %>
		                <i class="fas fa-user-cog"></i>マイページ
		              <% end %>
		            <% end %>
		          </div>
		          <div class="col-12">
		            <%if user_signed_in? %>
		              <h6>
		                <%= link_to destroy_user_session_path, method: :delete, class: "text-dark btn" do %>
		                  <i class="fas fa-user"></i>ログアウト
		                <% end %>
		              </h6>
		            <% else %>
		              <h6>
		                <%= link_to new_user_session_path, class: "text-dark btn" do %>
		                  <i class="fas fa-user"></i>ログイン
		                <% end %>
		              </h6>
		            <% end %>
		          </div>
		        </div>
			</div>
		</div>
		<!-- コンテンツ -->
		<div class="col-md-10">
			<div class="tab-content" id="panel-menus">
				<!-- shop -->
				<div class="tab-pane fade show active" id="panel-shop" role="tabpanel" aria-labelledby="tab-shop">
					<%= render "shop.index" %>
				</div>
				<!-- user -->
				<div class="tab-pane fade" id="panel-user" role="tabpanel" aria-labelledby="tab-user">
					<%= render "user.index" %>
				</div>
				<!-- follower -->
				<div class="tab-pane fade" id="panel-follower" role="tabpanel" aria-labelledby="tab-follower">
					<%= render "follower.index" %>
				</div>
			</div>
		</div>
	</div>
</div>

