<h1>いんでくす</h1>


<p>Find me in app/views/posts/index.html.erb</p>
<div>
	<%= link_to("サーチ", search_posts_path) %>
	<%= link_to("新規投稿", new_post_path) %>
</div>
<div>
	<% @posts.each do |post| %>
		<div class="img">
			<%= link_to image_tag(post.image_url), post_path(post) %>
		</div>
		<div>
		<%= post.title %>
		<%= post.content %>
		<br>
		<%= post.user_id %>
		</div>
		<div>
			<% if user_signed_in? %>

				<% if current_user.id != post.user_id %>
			        <% if post.user.followed_by?(current_user) %>
			            <p><%=link_to "フォロー済み", user_relationships_path(post.user), method: :delete %></p>
			        <% else %>
			            <p><%=link_to "フォローする", user_relationships_path(post.user), method: :post %></p>
			        <% end %>
			    <% end %>
	    	<% end %>
		</div>
		<p>ーーーーーーーーーーーーーーーーーーーーーーーー------</p>
	<% end %>
</div>
