<%= javascript_include_tag 'delighters.min' %>
<%= javascript_include_tag 'page_scroll' %>
<nav class="my-5">
	<form class="form-inline justify-content-center">
		<%= search_form_for @q, url: "/posts/search" do |f| %>
		  <%= f.search_field :user_name_or_user_area_prefecture_or_clothes_name_or_clothes_bland_or_clothes_category_name_or_title_or_content_cont, label: false, placeholder: '2文字以上での入力', class: "mr-2 w-50" %>
		  <%= f.submit "検索", class: "btn btn-outline-success my-2 my-sm-0" %>
		<% end %>
	</form>
</nav>
<div class="page-list jscroll">
	<div class="container">
		<div class="row justify-content-center">
			<% if @post_images.any? %>
				<% @post_images.shuffle.each do |article| %>
					<div class="col-4 search-img">
						<div class="image-trim-square">
							<%= link_to "/posts/#{article.id}" do %>
								<%= image_tag(article.image.to_s, class: "img-fluid" ) %>
								<div class="mask" data-delighter>
									<div class="caption">
										<p class="mobil-font"><i class="far fa-heart"></i> : <%= article.likes.count %></p>
										<p class="mobil-font"><i class="fas fa-eye"></i> : <%=  article.impressionist_count %></p>
									</div>
								</div>
							<% end %>
						</div>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
	<%= paginate @post_images %>
</div>
