
<!-- ogp上書き -->
<% set_meta_tags title: @post.title , description: @post.content.to_s.gsub(/\r\n|\r|\n|\s|\t/, ""), og:{image: image_url(url_for(@post.image.to_s))}, twitter:{image: image_url(url_for(@post.image.to_s))} %>
<!-- コンテンツ -->
<div class="container mb-3">
	<div class="row justify-content-center">
		<!-- カード1 -->
		<div class="col-md-12 col-lg-11 mb-2">
			<div class="card">
				<div class="row no-gutters">
					<div class="col-12 col-sm-6">
						<div class="image-trim">
							<%= image_tag(@post.image.to_s, class: "card-img") %>
						</div>
						<div class="row pt-3">
							<div class="col-6 text-center">
								<% if user_signed_in? %>
									<% if @post.user_id != current_user.id %>
										<% if current_user.already_liked?(@post) %>
										  <%= link_to post_like_path(@post, @post.id),  method: :delete do %>
										  	<h4><i class="fas fa-heart notiine"> : <%= @post.likes.count %></i></h4>
								          <% end %>
										<% else %>
											<%= link_to post_likes_path(@post), method: :post do %>
									          <h4><i class="far fa-heart iine"> : <%= @post.likes.count %></i></h4>
									        <% end %>
										<% end %>
									<% end %>
								<% end %>
							</div>
							<div class="col-6 text-center">
								<h4><i class="fas fa-eye"></i> : <%=  @post.impressionist_count %></h4>
							</div>
						</div>
					</div>
					<div class="col-12 col-sm-6">
						<div class="card-body">
							<div class="border-bottom py-2 row">
								<div class="col-6">
									<!-- user -->
									<%= link_to user_path(@post.user_id) do %>
										<%= image_tag(@post.user.photo_url, :class => "img-fluid rounded-circle s-icon") %>
										<span><%= @post.user.name %></span>
									<% end %>
								</div>
								<!-- フォロー -->
								<div class="col-6">	
									<% if user_signed_in? %>
										<% if current_user.id != @post.user_id %>
									        <% if @post.user.followed_by?(current_user) %>
									        	<%= link_to user_relationships_path(@post.user), method: :delete do %>
										          <i class="fas fa-user-tag">フォロー中</i>
										        <% end %>
									        <% else %>
									        	<%= link_to user_relationships_path(@post.user), method: :post do %>
										          <i class="fas fa-user-tag">フォローする</i>
										        <% end %>
									        <% end %>
									    <% end %>
									<% else %>
										<div class="m-1 h-25 float-left">
											<a class="aria-expanded" data-toggle="modal" data-target="#menuModal" href="#">
												<i class="fas fa-user-tag">フォローする</i>
											</a>
										</div>
								    <% end %>
								</div>
							</div>
							<div class="col-12 row scroll-content overflow-auto" >
								<div class="col-12 my-4 row">
									<h6 class="col-12 bg-light">
										<strong><%= @post.title %></strong>
										<p class="py-2"><%= @post.content %></p>
										<p class="small"><%= time_ago_in_words(@post.created_at) %>前</p>
									</h6>
								</div>
								<!-- コメント内容 -->
								<% unless @commented_users.blank? %>
							        <% @comments.each do |comment| %>
										<div class="col-12 row mb-4">
								        	<% unless comment.user_id.blank? %><!-- 空のバグを弾く -->
												<div class="col-12">	
											    	<% unless comment.user.blank? %>
									            		<%= link_to user_path(comment.user_id) do %>
															<%= image_tag(comment.user.photo_url, :class => "img-fluid rounded-circle s-icon") %>
															<span><%= comment.user.name unless comment.user.blank? %></span>
														<% end %>
									            	<% end %>
									            </div>
									            <div class="col-12 row justify-content-center">
												    <% if comment.user.id == @post.user_id %>
												    	<div class="col-12 border rounded-right rounded-bottom">
												    		<p class="small"><%= comment.content %></p>
												    		<div class="row">
												    			<span class="col-8 small"><%= time_ago_in_words(comment.created_at) %>前</span>
													    		<!-- コメントの投稿主の削除権限 -->
															    <% if user_signed_in? && comment.user_id == current_user.id %>
															    	<%= link_to("削除", post_comment_path(comment.post_id, comment.id),class: "col-4 small text-danger", method: :delete) %>
															    <!-- 投稿主の削除権限 -->
															    <% elsif user_signed_in? && @post.user.id == current_user.id %>
															    	<%= link_to("削除", post_comment_path(comment.post_id, comment.id),class: "col-4 small text-danger", method: :delete) %>
															    <% end %>
															</div>
												    	</div>
												    <% else %>
												    	<div class="col-12 border rounded-right rounded-bottom bg-light">
												    		<p class="small"><%= comment.content %></p>
												    		<div class="row">
												    			<span class="col-8 small"><%= time_ago_in_words(comment.created_at) %>前</span>
													    		<!-- コメントの投稿主の削除権限 -->
															    <% if user_signed_in? && comment.user_id == current_user.id %>
															    	<%= link_to("削除", post_comment_path(comment.post_id, comment.id),class: "col-4 small text-danger", method: :delete) %>
															    <!-- 投稿主の削除権限 -->
															    <% elsif user_signed_in? && @post.user.id == current_user.id %>
															    	<%= link_to("削除", post_comment_path(comment.post_id, comment.id),class: "col-4 small text-danger", method: :delete) %>
															    <% end %>
															</div>
												    	</div>
												    <% end %>
												</div>
											<% end %>
										</div>
									<% end %>
								<% else %>
									<h6 class="text-center">コメントの投稿がありません</h6>
								<% end %>
							</div>
							<!-- コメント入力 -->
							<div>
								<% if user_signed_in? %>
								    <%= form_for [@post, @comment] do |f| %>
									    <div class="border-top py-1 row justify-content-center">
										  <%= f.text_field :content, placeholder: 'コメントを入力..', class: "col-8 py-1", "presence"=> true %>
										  <%= f.submit "投稿", class: "btn btn-info col-3 ml-1" %>
										</div>
									<% end %>
								<% end %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- カード2 -->
		<div class="col-12 mb-2">
			<div class="card">
				<div class="card-body">
					<!-- shopとuserで引き出し別 -->
					<p class="border-bottom mb-5">モデル情報: 
						<% unless @post.user.shop.blank? %>
					        <% unless @post.shop_gender.blank? %>
					          <%= @post.shop_gender %> / 
					        <% end %>
					        <% unless @post.shop_height.blank? %>
					          <%= @post.shop_height %>cm
					        <% end %>
						<% else %>
							<% unless @post.user.gender.blank? %>
					          <%= @post.user.gender %> / 
					        <% end %>
					        <% unless @post.user.height.blank? %>
					          <%= @post.user.height %>cm 
					        <% end %>
					    <% end %>
					</p>
					<!-- アイテム -->
					<p class="border-bottom">着用アイテム</p>
					<div class="row">
						<% @clothes.each do |clothe| %>
							<div class="col-6 py-1 mb-2">
								<div class=" justify-content-center">
									<% unless clothe.category.blank? %>
										<p class="text-break bg-light border rounded p-1 m-1">
											カテゴリー: <%= clothe.category.name %>
										</p>
									<% else %>
										<p class="text-break bg-light border rounded p-1 m-1">カテゴリー: </p>
									<% end %>
									<% unless clothe.bland.blank? %>
										<p class="text-break bg-light border rounded p-1 m-1">
											ブランド: <%= clothe.bland.name %>
										</p>
									<% else %>
										<p class="text-break bg-light border rounded p-1 m-1">ブランド: </p>
									<% end %>
									<% unless clothe.size.blank? %>
										<p class="text-break bg-light border rounded p-1 m-1">
											サイズ: <%= clothe.size.name %>
										</p>
									<% else %>
										<p class="text-break bg-light border rounded p-1 m-1">サイズ: </p>
									<% end %>
									<% unless clothe.color.blank? %>
										<p class="text-break bg-light border rounded p-1 m-1">
											カラー: <%= clothe.color.name %>
										</p>
									<% else %>
										<p class="text-break bg-light border rounded p-1 m-1">カラー: </p>
									<% end %>
									<% unless @post.user.shop.blank? %>
										<% unless clothe.name.blank? %>
											<p class="text-break bg-light border rounded p-1 m-1">
												商品名: <%= clothe.name %>
											</p>
										<% else %>
											<p class="text-break bg-light border rounded p-1 m-1">商品名: </p>
										<% end %>
										<% unless clothe.price.blank? %>
											<p class="text-break bg-light border rounded p-1 m-1">
												値段: ¥ <%= clothe.price %>
											</p>
										<% else %>
											<p class="text-break bg-light border rounded p-1 m-1">値段: </p>
										<% end %>
									<% end %>
								</div>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12">
			<div>
				<div>
					<h5><p class="border-bottom text-center py-3"><%= @post.user.name %>の他の投稿</p></h5>
				</div>
				<div class="row mb-4">
					<% unless @posts.blank? %>
						<% @posts.shuffle.first(3).each do |post| %>
							<div class="col-4 search-img">
								<div class="image-trim-square">
									<% if post.image.to_s.present? %>
				                      <%= link_to  post_path(post) do %>
						                    <%= image_tag(post.image.to_s, class: "img-fluid") %>
						                    <div class="mask" data-delighter>
												<div class="caption">
													<p class="mobil-font"><i class="far fa-heart"></i> : <%= post.likes.count %></p>
													<p class="mobil-font"><i class="fas fa-eye"></i> : <%=  post.impressionist_count %></p>
												</div>
											</div>
				                      <% end %>
				                    <% end %>
				                </div>
							</div>
						<% end %>
					<% else %>
						<h6 class="col-12 text-center py-5">過去の投稿がありません。</h6>
					<% end %>
				</div>

				<div class=" card-body">
					<h5><p class="border-bottom text-center py-3">同じブランド着用投稿</p></h5>
				</div>
				<div class="row mb-4">
					<% unless @bland_posts.blank? %>
						<% @bland_posts.shuffle.first(3).each do |post| %>
							<div class="col-4 search-img">
								<div class="image-trim-square">
									<% if post.image.to_s.present? %>
				                      <%= link_to  post_path(post) do %>
						                    <%= image_tag(post.image.to_s, class: "img-fluid") %>
						                    <div class="mask" data-delighter>
													<div class="caption">
														<p class="mobil-font"><i class="far fa-heart"></i> : <%= post.likes.count %></p>
														<p class="mobil-font"><i class="fas fa-eye"></i> : <%=  post.impressionist_count %></p>
													</div>
												</div>
				                      <% end %>
				                    <% end %>
				                </div>
							</div>
						<% end %>
					<% else %>
						<h6 class="col-12 text-center py-5">同じブランドの投稿がありません。</h6>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
