
<!-- ogp上書き -->
<% set_meta_tags title: @post.title , description: @post.content.to_s.gsub(/\r\n|\r|\n|\s|\t/, ""), og:{image: image_url(url_for(@post.image.to_s))}, twitter:{image: image_url(url_for(@post.image.to_s))} %>
<!-- コンテンツ -->
<div class="container my-5">
	<div class="row justify-content-center">
		<!-- カード1 -->
		<div class="col-md-12 col-lg-11 mb-2">
			<div class="card">
				<div class="row no-gutters">
					<div class="col-12 col-sm-6">
						<div class="image-trim">
							<% unless @clothes.blank? %>
								<a data-toggle="modal" data-target="#tagsModal" href="#">
									<%= image_tag(@post.image.to_s, class: "card-img") %>
									<i class="fas fa-tag tag-image"></i>
								</a>
							<% else %>
								<a data-toggle="modal" data-target="#tagsModal" href="#">
									<%= image_tag(@post.image.to_s, class: "card-img") %>
								</a>
							<% end %>
						</div>
						<div class="row pt-3">
							<div class="col-6 text-center">
								<div id="likes_buttons_<%= @post.id %>">
						            <%= render partial: 'likes/showlike', locals: { post: @post} %>
						        </div>
							</div>
							<div class="col-6 text-center">
								<h4><i class="fas fa-eye"></i> : <%=  @post.impressionist_count %></h4>
							</div>
						</div>
					</div>
					<div class="col-12 col-sm-6">
						<div class="card-body">
							<div class="border-bottom py-2 row">
								<div class="col-6">
									<!-- user -->
									<%= link_to user_path(@post.user_id) do %>
										<%= image_tag(@post.user.photo_url, :class => "img-fluid rounded-circle s-icon") %>
										<span><%= @post.user.name %></span>
									<% end %>
								</div>
								<!-- フォロー -->
								<div class="col-6">	
									<% if user_signed_in? %>
										<% if current_user.id != @post.user_id %>
									        <% if @post.user.followed_by?(current_user) %>
									        	<%= link_to user_relationships_path(@post.user), method: :delete do %>
										          <i class="fas fa-user-tag">フォロー中</i>
										        <% end %>
									        <% else %>
									        	<%= link_to user_relationships_path(@post.user), method: :post do %>
										          <i class="fas fa-user-tag">フォローする</i>
										        <% end %>
									        <% end %>
									    <% end %>
									<% else %>
										<div class="m-1 h-25 float-left">
											<a class="aria-expanded" data-toggle="modal" data-target="#menuModal" href="#">
												<i class="fas fa-user-tag">フォローする</i>
											</a>
										</div>
								    <% end %>
								</div>
							</div>
							<div class="col-12 row scroll-content overflow-auto" >
								<div class="col-12 my-4 row">
									<h6 class="col-12 bg-light">
										<strong><%= @post.title %></strong>
										<p class="py-2"><%= @post.content %></p>
										<p class="small"><%= time_ago_in_words(@post.created_at) %>前</p>
									</h6>
								</div>
								<!-- コメント内容 -->
								<% unless @commented_users.blank? %>
							        <% @comments.each do |comment| %>
										<div class="col-12 row mb-4">
								        	<% unless comment.user_id.blank? %><!-- 空のバグを弾く -->
											    <% if user_signed_in? && comment.user.id == current_user.id %>
											    	<div class="col-12 text-right mycomment-messege-border">
											    		<p class="small"><%= comment.content %></p>
											    		<div class="row">
											    			<!-- コメントの投稿主の削除権限 -->
												    		<% if comment.user_id == current_user.id %>
														    	<%= link_to("削除", post_comment_path(comment.post_id, comment.id),class: "col-4 small text-danger", method: :delete) %>
														    <!-- 投稿主の削除権限 -->
														    <% elsif @post.user.id == current_user.id %>
														    	<%= link_to("削除", post_comment_path(comment.post_id, comment.id),class: "col-4 small text-danger", method: :delete) %>
														    <% end %>
											    			<span class="col-8 small"><%= time_ago_in_words(comment.created_at) %>前</span>
														</div>
											    	</div>
											    <% else %>
											    	<div class="col-12">	
												    	<% unless comment.user.blank? %>
										            		<%= link_to user_path(comment.user_id) do %>
																<%= image_tag(comment.user.photo_url, :class => "img-fluid rounded-circle s-icon") %>
																<span><%= comment.user.name unless comment.user.blank? %></span>
															<% end %>
										            	<% end %>
										            </div>
											    	<div class="col-12 comment-messege-border">
											    		<p class="small"><%= comment.content %></p>
											    		<div class="row">
											    			<span class="col-8 small"><%= time_ago_in_words(comment.created_at) %>前</span>
											    			<!-- 投稿主の削除権限 -->
														    <% if user_signed_in? && @post.user.id == current_user.id %>
														    	<%= link_to("削除", post_comment_path(comment.post_id, comment.id),class: "col-4 small text-danger", method: :delete) %>
														    <% end %>
														</div>
											    	</div>
											    <% end %>
											<% end %>
										</div>
									<% end %>
								<% else %>
									<h6 class="text-center">コメントの投稿がありません</h6>
								<% end %>
							</div>
							<!-- コメント入力 -->
							<div>
								<% if user_signed_in? %>
								    <%= form_for [@post, @comment] do |f| %>
									    <div class="border-top py-1 row justify-content-center">
										  <%= f.text_field :content, placeholder: 'コメントを入力..', class: "col-8 py-1", "presence"=> true %>
										  <%= f.submit "投稿", class: "btn btn-info col-3 ml-1" %>
										</div>
									<% end %>
								<% end %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-12 my-4">
			<% unless @post.video.blank? %>
				<%= video_tag @post.video.url, width: "100%", controls: true, autobuffer: true %>
			<% end %>
		</div>
		<div class="col-12">
			<div>
				<div>
					<h5><p class="border-bottom text-center py-3"><%= @post.user.name %>の他の投稿</p></h5>
				</div>
				<div class="row mb-4">
					<% unless @posts.blank? %>
						<% @posts.shuffle.first(3).each do |post| %>
							<div class="col-4 search-img">
								<div class="image-trim-square">
									<% if post.image.to_s.present? %>
				                      <%= link_to  post_path(post) do %>
						                    <%= image_tag(post.image.to_s, class: "img-fluid") %>
						                    <div class="mask">
												<div class="caption">
													<p class="mobil-font"><i class="far fa-heart"></i> : <%= post.likes.count %></p>
													<p class="mobil-font"><i class="fas fa-eye"></i> : <%=  post.impressionist_count %></p>
												</div>
											</div>
				                      <% end %>
				                    <% end %>
				                </div>
							</div>
						<% end %>
					<% else %>
						<h6 class="col-12 text-center py-5">過去の投稿がありません。</h6>
					<% end %>
				</div>

				<div class=" card-body">
					<h5><p class="border-bottom text-center py-3">同じブランド着用投稿</p></h5>
				</div>
				<div class="row mb-4">
					<% unless @bland_posts.blank? %>
						<% @bland_posts.shuffle.first(3).each do |post| %>
							<div class="col-4 search-img">
								<div class="image-trim-square">
									<% if post.image.to_s.present? %>
				                      <%= link_to  post_path(post) do %>
						                    <%= image_tag(post.image.to_s, class: "img-fluid") %>
						                    <div class="mask">
													<div class="caption">
														<p class="mobil-font"><i class="far fa-heart"></i> : <%= post.likes.count %></p>
														<p class="mobil-font"><i class="fas fa-eye"></i> : <%=  post.impressionist_count %></p>
													</div>
												</div>
				                      <% end %>
				                    <% end %>
				                </div>
							</div>
						<% end %>
					<% else %>
						<h6 class="col-12 text-center py-5">同じブランドの投稿がありません。</h6>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- タグ -->
<div class="modal fade" id="tagsModal" tabindex="-1" role="dialog" aria-labelledby="tagsModalLabel" aria-hidden="true">
  	<div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    	<div class="modal-content pb-5" style="background-color: #EEEEEE;"> 
	      	<div class="modal-header sticky-top bg-light">
	        	<h5 class="modal-title" id="tagsModalLabel"></h5>
	        	<button type="button" class="close" data-dismiss="modal" aria-label="close">
	          		<span aria-hide="true">✖︎</span>
	        	</button>
	      	</div>
			<div class="card-body">
				<!-- shopとuserで引き出し別 -->
				<p class="border-bottom mb-5">モデル情報: 
					<% unless @post.user.shop.blank? %>
				        <% unless @post.shop_gender.blank? %>
				          <%= @post.shop_gender %> / 
				        <% end %>
				        <% unless @post.shop_height.blank? %>
				          <%= @post.shop_height %>cm
				        <% end %>
					<% else %>
						<% unless @post.user.gender.blank? %>
				          <%= @post.user.gender %> / 
				        <% end %>
				        <% unless @post.user.height.blank? %>
				          <%= @post.user.height %>cm 
				        <% end %>
				    <% end %>
				</p>
				<!-- アイテム -->
				<p class="border-bottom">タグ</p>
				<div class="row">
					<% @clothes.each do |clothe| %>
						<div class="col-6 col-md-4 col-lg-3 py-1 mb-2">
							<div>
								<i class="fas fa-tag bg-tag" style="color:<%= clothe.color.css_color %>;"></i>
							</div>
							<div>
								<% unless clothe.category.blank? %>
								<div class="tab-categoey row">
									<div class="col-3">
										<%= image_tag(clothe.category.item_url, class: "img-fluid" ) %>
									</div>	
								</div>
								<% end %>
							</div>
							<% if clothe.color.name == "ホワイト系" || clothe.color.name == "イエロー系" || clothe.color.name == "ベージュ系" %>
								<div class="clothe-tab">
									<div >
										<% unless clothe.bland.blank? %>
											<h6 class="text-wrap clothes-text mb-2" style="width: 9rem;"><%= clothe.bland %></h6>
										<% end %>
									</div>
									<div>
										<% unless clothe.name.blank? %>
											<h6 class="text-wrap clothes-text mb-2" style="width: 9rem;"><%= clothe.name %></h6>
										<% end %>
									</div>
									<% unless @post.user.shop.blank? %>
										<div>
											<% unless clothe.price.blank? %>
												<h6 class="text-wrap clothes-text mb-2" style="width: 9rem;">¥<%= clothe.price %></h6>
											<% end %>
										</div>	
									<% end %>
									<div>
										<% unless clothe.size.blank? %>
											<h6 class="text-wrap clothes-text mb-2" style="width: 9rem;"><%= clothe.size.name %></h6>
										<% end %>
									</div>
								</div>
							<% else %>
								<div class="clothe-tab">
									<div >
										<% unless clothe.bland.blank? %>
											<h6 class="text-white text-wrap clothes-text mb-2" style="width: 9rem;"><%= clothe.bland %></h6>
										<% end %>
									</div>
									<div>
										<% unless clothe.name.blank? %>
											<h6 class="text-white text-wrap clothes-text mb-2" style="width: 9rem;"><%= clothe.name %></h6>
										<% end %>
									</div>
									<% unless @post.user.shop.blank? %>
										<div>
											<% unless clothe.price.blank? %>
												<h6 class="text-white text-wrap clothes-text mb-2" style="width: 9rem;">¥<%= clothe.price %></h6>
											<% end %>
										</div>	
									<% end %>
									<div>
										<% unless clothe.size.blank? %>
											<h6 class="text-white text-wrap clothes-text mb-2" style="width: 9rem;"><%= clothe.size.name %></h6>
										<% end %>
									</div>
								</div>
							<% end %>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>

