<!DOCTYPE html>
<html>
  <head>
    <title>Westyle</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- bootstrapの上にstylesheet上書き -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <!-- body背景 -->
  <% if request.path_info == search_posts_path %>
    <body class="body-1">
  <% else %>
    <body>
  <% end %>

    <!-- pcヘッダー -->
    <header class='sticky-top mb-3 d-none d-md-block'>
      <div class="container-fluid">
        <div class="row">
          <div class='col-3 text-center pt-4'>
            <h5><i class="fas fa-search"></i><%= link_to("サーチ", search_posts_path) %></h5>
          </div>
          <div class='col-5 text-center logo_img'>
            <%= link_to image_tag('/assets/logo.png', :class => "img-fluid mt-2 logo-size"), posts_path %>
          </div>

          <div class="col-4 row pt-4 text-center d-none d-md-inline">
            <%if user_signed_in? %>
             <h6 class="col-12 pb-1 col-md-6"><%=link_to(current_user.name, user_path(current_user))%></h6>
              <h6 class="col-12 col-md-6"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></h6>
            <%else%>
              <h6 class="col-12 pb-1 col-md-6"><a data-toggle="modal" data-target="#menuModal" href="#"><i class="fas fa-bars aria-expanded text-dark">新規登録</i></a></h6>

              <h6 class="col-12 col-md-6"><%= link_to "ログイン", new_user_session_path %></h6>
            <% end %>
          </div>

          <div class="col-3 text-center d-sm-none pt-4">
            <h4><a data-toggle="modal" data-target="#menuModal" href="#"><i class="fas fa-bars aria-expanded text-dark"></i></a></h4>
          </div>
        </div>
      </div>
    </header>

    <!-- スマホのヘッダー -->
    <div class='header-mobil d-md-none'>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 text-right pt-4">
            <h4><a data-toggle="modal" data-target="#menuModal" href="#"><i class="fas fa-bars aria-expanded text-dark"></i></a></h4>
          </div>
          <div class='col-12 col-md-5 text-center'>
            <%= link_to image_tag('/assets/logo.png', :class => "img-fluid mt-2 logo-size-mobil"), posts_path %>
          </div>
        </div>
      </div>
    </div>

    <!-- メッセージ -->
    <div>
      <% if notice %>
        <p><%= notice %></p>
      <% end %>
      <% if alert %>
        <p><%= alert %></p>
      <% end %>
    </div>

    <!-- 新規登録モーダル -->
    <div class="modal fade" id="menuModal" tabindex="-1" role="dialog" aria-labelledby="menuModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content pb-5"> 
          <div class="modal-header">
            <h1 class="modal-title" id="menuModalLabel">新規登録Menu</h1>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hide="true">✖︎</span>
            </button>
          </div>
          <div class="mb-3 m-auto">
              <h5 class="py-5"><%= link_to "user新規登録", new_user_registration_path %></h5>
              <h5 class="pb-5"><%= link_to "shop新規登録", new_shop_path %></h5>
            </div>
        </div>
      </div>
    </div>

    <%= yield %>


  </body>
</html>
