<!DOCTYPE html>
<html>
  <head>
    <title>Westyle</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- bootstrap -->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- css -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- fontawesome -->
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

  <!-- body背景 -->
  <% if request.path_info == search_posts_path %>
    <body class="body-1">
  <% else %>
    <body>
  <% end %>

    <!-- pcヘッダー -->
    <header class='sticky-top mb-3 d-none d-md-block'>
      <div class="container-fluid">
        <div class="row">
          <div class='col-3 text-center pt-4'>
            <h5>
              <%= link_to search_posts_path, class: "text-dark" do %>
                <i class="fas fa-search"></i>
                <p>サーチ</p>
              <% end %>
            </h5>
          </div>
          <div class='col-5 text-center logo_img'>
            <%= link_to image_tag('/assets/logo.png', class: "img-fluid mt-2 logo-size"), posts_path %>
          </div>

          <div class="col-4 row pt-1 text-center d-none d-md-inline">
            <%if user_signed_in? %>
              <div class="col-12 pb-3 col-md-6 text-dark">
                <%= link_to setting_users_path, class: "text-dark" do %>
                  <%= image_tag current_user.photo_url, class: "img-fluid rounded-circle s-icon" %> <%= current_user.name %>
                <% end %>
              </div>
              <h6 class="col-12 col-md-6">
                <%= link_to "ログアウト", destroy_user_session_path,class: "text-dark", method: :delete %>  
              </h6>
            <%else%>
              <h6 class="col-12 pb-1 pt-4 col-md-6">
                <a class="aria-expanded text-dark" data-toggle="modal" data-target="#menuModal" href="#">
                  <i class="fas fa-bars">新規登録</i>
                </a>
              </h6>
              <h6 class="col-12 col-md-6 text-dark">
                <%= link_to new_user_session_path, class: "text-dark" do %>
                  <i class="fas fa-user">ログイン</i>
                <% end %>
              </h6>
            <% end %>
          </div>
          <div class="col-3 text-center d-sm-none pt-4">
            <h4><a data-toggle="modal" data-target="#menuModal" href="#"><i class="fas fa-bars aria-expanded text-dark"></i></a></h4>
          </div>
        </div>
      </div>
    </header>

    <!-- スマホのヘッダー -->
    <div class='d-md-none'>
      <div class="container-fluid">
        <div class="row">
          <div class='col-12 col-md-5 text-center'>
            <%= link_to image_tag('/assets/logo_bg.png', :class => "img-fluid mt-2"), posts_path %>
          </div>
        </div>
      </div>
    </div>

    <!-- メッセージ -->
    <div class="text-center pt-4">
      <% if notice %>
        <h6 class="bg-warning py-3"><%= notice %></h6>
      <% end %>
      <% if alert %>
        <h6 class="bg-danger py-3"><%= alert %></h6>
      <% end %>
    </div>

    <!-- 新規登録モーダル -->
    <div class="modal fade" id="menuModal" tabindex="-1" role="dialog" aria-labelledby="menuModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content pb-5"> 
          <div class="modal-header">
            <h1 class="modal-title" id="menuModalLabel">MENU</h1>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hide="true">✖︎</span>
            </button>
          </div>
          <div class="mb-3 text-center">
            <h5 class="py-5"><%= link_to "user新規登録", new_user_registration_path %></h5>
            <h5 class="pb-5"><%= link_to "shop新規登録", new_shop_path %></h5>
            <h6 class="pb-3">or</h6>
            <h5><%= link_to "ログイン", new_user_session_path %></h5>
          </div>
        </div>
      </div>
    </div>


    <%= yield %>


    <!-- pcフッター -->
    <footer>
      <p class="text-center text-white py-5"><small>Copyright &copy;2020 WE STYLE,All Rights Reserved.</small></p>
    </footer>

    <!-- モバイルフッター -->
    <div class="footer-menu fixed-bottom d-md-none">
      <div class="container-fluid">
        <div class="row text-center justify-content-center">
          <div class="col-3">
            <h5>
              <%= link_to posts_path, class: "text-dark btn" do %>
                <i class="fas fa-home"></i>
                <p>ホーム</p>
              <% end %>
            </h5>
          </div>
          <div class="col-3">
              <%= link_to search_posts_path, class: "text-dark btn" do %>
               <i class="fas fa-search"></i>
               <p>サーチ</p>
              <% end %>
          </div>
          <div class="col-3">
            <%if user_signed_in? %>
              <%= link_to setting_users_path, class: "text-dark btn" do %>
                <%= image_tag current_user.photo_url, class: "img-fluid rounded-circle s-icon" %>
              <% end %>
            <% end %>
          </div>
          <div class="col-3">
            <%if user_signed_in? %>
              <h6>
                <%= link_to destroy_user_session_path, method: :delete, class: "text-dark btn" do %>
                  <i class="fas fa-user"></i>
                  <p>ログアウト</p>
                <% end %>
              </h6>
            <% else %>
              <h6>
                <%= link_to new_user_session_path, class: "text-dark btn" do %>
                  <i class="fas fa-user"></i>
                  <p>ログイン</p>
                <% end %>
              </h6>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
