<!DOCTYPE html>
<html>
  <head>
    <title>Westyle</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div>
      <%if user_signed_in? %>
        <li><%=link_to(current_user.name, user_path(current_user))%></li>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
      <%else%>
        <div class="col-3 text-center pt-4">
          <h4><a data-toggle="modal" data-target="#menuModal" href="#"><i class="fas fa-bars aria-expanded text-dark">新規登録</i></a></h4>
        </div>
        <h4><%= link_to "ログイン", new_user_session_path %></h4>
      <%end%>
    </div>
    <br/>
    
    <div>
      <% if notice %>
        <p><%= notice %></p>
      <% end %>
      <% if alert %>
        <p><%= alert %></p>
      <% end %>
    </div>

    <!-- 新規登録モーダル -->
    <div class="modal fade" id="menuModal" tabindex="-1" role="dialog" aria-labelledby="menuModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content pb-5"> 
          <div class="modal-header">
            <h1 class="modal-title" id="menuModalLabel">Menu</h1>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hide="true">✖︎</span>
            </button>
          </div>
          <div class="mb-3 m-auto">
              <h5 class="py-5"><%= link_to "user新規登録", new_user_registration_path %></h5>
              <h5 class="pb-5"><%= link_to "shop新規登録", new_shop_path %></h5>
            </div>
        </div>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
