<!DOCTYPE html>
<html>
  <head>
    <title>Westyle</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag('favicon.ico') %>
    <!-- ogp -->
    <%= display_meta_tags(default_meta_tags) %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- bootstrap -->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- css -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- fontawesome -->
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <!-- js -->
    <%= javascript_include_tag 'jquery.jscroll.min' %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
  </head>

  <body>

    <!-- pcヘッダー -->
    <header class='sticky-top mb-3 d-none d-md-block'>
      <div class="container">
        <div class="row">
          <!-- ロゴ -->
          <div class='col-2 logo_img'>
            <%= link_to image_tag('/assets/logo.png', class: "img-fluid mt-2 logo-size"), posts_path %>
          </div>
          <div class="col-10 row justify-content-end">
            <!-- ホーム -->
            <div class='col-1 mt-3'>
              <h5>
                <%= link_to posts_path, class: "text-dark" do %>
                  <i class="fas fa-home"></i>
                <% end %>
              </h5>
            </div>
            <!-- サーチ -->
            <div class='col-1 mt-3'>
              <h5>
                <%= link_to search_posts_path, class: "text-dark" do %>
                  <i class="fas fa-search"></i>
                <% end %>
              </h5>
            </div>
            <!-- 新規投稿 -->
            <div class='col-1 mt-3'>
              <h5>
                <%= link_to new_post_path, class: "text-dark" do %>
                  <i class="fas fa-pen-nib"></i>
                <% end %>
              </h5>
            </div>
            <!--user -->
            <div class="col-2 mt-2">
              <%if user_signed_in? %>
                <%= link_to user_path(current_user) do %>
                  <%= image_tag current_user.photo_url, class: "img-fluid rounded-circle s-icon" %>
                <% end %>
              <%else%>
                <h6 class="pt-2">
                  <a class="aria-expanded text-dark" data-toggle="modal" data-target="#menuModal" href="#">
                    <i class="fas fa-user"></i>
                  </a>
                </h6>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <!-- メッセージ -->
      <div class="container messege-abusolute">
        <div class="row ml-5 time-limit">
          <% if notice %>
            <div class="text-center messege-border">
              <p class="py-3"><strong><%= notice %></strong></p>
            </div>
          <% end %>
          <% if alert %>
            <div class="text-center alart-messege-border">
              <p class="py-3"><strong><%= alert %></strong></p>
            </div>
          <% end %>
        </div>
      </div> 
    </header>

    <!-- スマホのヘッダー -->
    <div class='d-md-none mobil-header'>
      <div class="container-fluid">
        <div class="row">
          <div class='col-12'>
            <%= link_to image_tag('/assets/logo.png', class: "img-fluid mt-3 logo-size"), posts_path %>
          </div>
        </div>
      </div>
      <!-- メッセージ -->
      <div class="sticky-top">
        <div class="row time-limit mobil-messege-abusolute">
          <% if notice %>
            <div class="text-center messege-border">
              <p class="py-3"><strong><%= notice %></strong></p>
            </div>
          <% end %>
          <% if alert %>
            <div class="text-center alart-messege-border">
              <p class="py-3"><strong><%= alert %></strong></p>
            </div>
          <% end %>
        </div>
      </div>
    </div> 

    
    <!-- 新規登録モーダル -->
    <div class="modal fade" id="menuModal" tabindex="-1" role="dialog" aria-labelledby="menuModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content pb-5"> 
          <div class="modal-header">
            <h1 class="modal-title" id="menuModalLabel">MENU</h1>
            <button type="button" class="close" data-dismiss="modal" aria-label="close">
              <span aria-hide="true">✖︎</span>
            </button>
          </div>
          <div class="mb-3 text-center border-bottom pb-5">
            <h5 class="border-bottom py-5">
              <%= link_to "ログイン", new_user_session_path, class: "btn btn-secondary" %>
            </h5>
            <h5 class="py-5"><%= link_to "USER新規登録", new_user_registration_path, class: "btn btn-secondary" %></h5>
            <h5><%= link_to "SHOP新規登録", new_shop_path, class: "btn btn-secondary" %></h5>
          </div>
        </div>
      </div>
    </div>


    <%= yield %>


    <!-- pcフッター -->
    <footer>
      <div class="row justify-content-center">
        <div class="col-8 row text-center my-5">
          <%= link_to "初めての方", home_about_path, class: "col-6" %>
          <%= link_to "問い合わせ", new_contact_path, class: "col-6" %>
        </div>
      </div>
      <p class="text-center text-white py-5"><small>Copyright &copy;2020 WE STYLE,All Rights Reserved.</small></p>
    </footer>

    <!-- モバイルフッター -->
    <div class="footer-menu fixed-bottom d-md-none">
      <div class="container-fluid">
        <div class="row text-center justify-content-center">
          <!-- ホーム -->
          <div class="col-3">
            <h5>
              <%= link_to posts_path, class: "text-dark btn" do %>
                <i class="fas fa-home"></i>
                <p>ホーム</p>
              <% end %>
            </h5>
          </div>
          <!-- サーチ -->
          <div class="col-3">
              <%= link_to search_posts_path, class: "text-dark btn" do %>
               <i class="fas fa-search"></i>
               <p>サーチ</p>
              <% end %>
          </div>
          <div class="col-3">
            <%= link_to new_post_path, class: "text-dark btn" do %>
              <i class="fas fa-pen-nib"></i>
              <p>投稿</p>
            <% end %>
          </div>
          <!-- user -->
          <div class="col-3">
            <%if user_signed_in? %>
              <%= link_to user_path(current_user), class: "text-dark btn" do %>
                <%= image_tag current_user.photo_url, class: "img-fluid rounded-circle s-icon" %>
              <% end %>
            <% else %>
              <h6>
                <a class="aria-expanded text-dark btn" data-toggle="modal" data-target="#menuModal" href="#">
                  <i class="fas fa-user"></i>
                  <p>user</p>
                </a>
              </h6>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
